/* Author: Jason Pippin
   Section: WD-201
   Date: 08/09/25
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img 
        {margin: 0;
        padding: 0;
        border: 0;}

/* CSS styles for body and images */
body {background-color: #1D1D1D;}

img {max-width: 100%;
     display: block;}

/* STYLE RULES FOR MOBILE VIEWPORT */


/* CSS styles for header */
header {position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #000;
        height: 190px;
        }

header img {margin: 0 auto;}

/* CSS styles for navigation area */
nav {padding: 1%;
     margin-bottom: 1%;}

nav ul {list-style-type: none;
        text-align: center;}

nav li {font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
        border-top: 1px solid #fff;
        }

nav li:first-child {border-top: none;}

nav li a {display: inline-block;
          color: #fff;
          padding: 0.5em 1em;
          text-decoration: none;}

/* Show mobile class, hide tablet-desktop class */
.mobile {display: block;}

.tablet-desktop {display: none;}
          
/* CSS styles for main */
main {clear: both;
      background-color: #fff;
      padding: 2%;
      font-size: 1.25em;
      font-family: 'Roboto Slab', serif;}


/* #placeholder, #placeholder, #placeholder {width: 29%
                                             float: left;
                                             margin: 0.2%;} */

.map {border: 8px solid #000;}

/* CSS styles for footer */
footer p {font-size: 0.75em;
        text-align: center;
        color: #fff;
        padding: 0.1em;}


footer p a {color: #fff;}

/* MEDUA QUERY FOR TABLET VIEWPORT */
/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
@media screen and (min-width: 630px) {
        .tablet-desktop {
                display: block;
        }

        .mobile {
                display: none;
        }
}

/* Tablet Viewport: Style rule for header */
header {
        position: static;
        padding-bottom: 2%;
}

/* Tablet Viewport: Style rules for nav area */
nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
}

nav li:last-child {
        border-right: none;
}

nav li a {
        padding: 0.1em 0.75em;
}

/* Tablet Viewport: Style rules for main content area */
main ul {
        margin: 0 0 4% 10%;
}

#mission {
        clear: left;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background-color: #f2f2f2;
        padding: 1% 2%;
}

/* MEDUA QUERY FOR DEKTOP VIEWPORT */

/* Desktop Viewport: Style rules for header */

/* Tablet Viewport: Style rules for nav area */

/* Tablet Viewport: Style rules for main content */

/* MEDUA QUERY FOR LARGE DESKTOP VIEWPORT */

